<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{avgStat.edit.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{avgStat.edit.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/avgStats}" th:text="#{avgStat.edit.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('avgStat')}" />
            <form th:action="${T(com.tennis.atp_matches_stats.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='avgStat', field='avgAces', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='avgStat', field='avgDoubleFaults', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='avgStat', field='avgServicePoints', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='avgStat', field='avgFirstServeIn', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='avgStat', field='avgFirstServeWon', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='avgStat', field='avgSecondServeWon', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='avgStat', field='avgServiceGames', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='avgStat', field='avgSavedBreakPoints', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='avgStat', field='avgFacedBreakPoints', type='number')}" />
                <input type="submit" th:value="#{avgStat.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
